<h1>H&eacute;roe <small>Nombre del H&eacute;roe</small></h1>
<hr/>

<div class="row text-right">

    <div class="col">

        <button class="btn btn-danger"
                routerLink="/heroes">
            <i class="fa fa-arrow-left"></i>
            Regresar
        </button>

    </div>

</div>

<div class="row animated fadeIn faster">

    <div class="col">

        <form (ngSubmit)="guardar( f )"
              #f="ngForm"
        >

            <div class="form-group">
                <label> FireBase ID </label>
                <input type="text" 
                       name="id"
                       class="form-control"
                       placeholder="Firebase ID"
                       disabled="disabled"
                       [(ngModel)]="heroe.id"
                />

                <small class="form-text text-muted">Este campo es autogenerado</small>
            </div>

            <div class="form-group">
                <label> Nombre </label>
                <input type="text"
                       name="nombre"
                       class="form-control"
                       placeholder="Nombre del Héroe"
                       required
                       [(ngModel)]="heroe.nombre"
                />
            </div>

            <div class="form-group">
                <label> Poder </label>
                <input type="text"
                       name="poder"
                       class="form-control"
                       placeholder="Poder del Héroe"
                       required
                       [(ngModel)]="heroe.poder"
                />
            </div>

            <div class="form-group">
                <label> Estado </label>
                <br>
                <button class="btn btn-outline-success w-50"
                        type="submit"
                        *ngIf="heroe.vivo"
                        (click)="heroe.vivo = false"
                        >
                    <i class="fa fa-smile-wink"></i>
                    Vivo
                </button>

                <button class="btn btn-outline-danger w-50"
                        type="submit"
                        *ngIf="!heroe.vivo"
                        (click)="heroe.vivo = true"
                >
                    <i class="fa fa-dizzy"></i>
                    Muerto
                </button>
            </div>

            <hr />

            <div class="form-group text-center">
                <button type="submit"
                        class="btn btn-primary w-25"
                        >
                        <i class="fa fa-save"></i>
                        Guardar
                </button>
            </div>

        </form>

    </div>

</div>