<h1>Listado de h&eacute;roes</h1>

<hr/>

<div class="row">
    <div class="col text-right">
        <button class="btn btn-primary"
                routerLink="/heroe/nuevo"
                >
            <i class="fa fa-plus"></i>
            Agregar
        </button>
    </div>
</div>

<table class="table mt-3 animated fadeIn faster animated fadeIn faster"
       *ngIf="!cargando && heroes.length > 0"
>

    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre clave</th>
        <th scope="col">Poder</th>
        <th scope="col">Vivo</th>
        <th scope="col">Herramientas</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let heroe of heroes; let i = index">
        <th scope="row">{{ i+1 }}</th>
        <td>{{ heroe.nombre }}</td>
        <td>{{ heroe.poder }}</td>
        <td>
          <label class="badge badge-success" *ngIf=" heroe.vivo ">Vivo</label>
          <label class="badge badge-danger" *ngIf=" !heroe.vivo ">Muerto</label></td>
        <td>

          <button class="btn btn-info mr-1"
                  [routerLink] = "['/heroe', heroe.id]"
          >
            <i class="fa fa-pen"></i>
          </button>

          <button class="btn btn-danger"
                  (click)="borrarHeroe( heroe, i )"
          >
            <i class="fa fa-trash"></i>
          </button>


        </td>
      </tr>
    </tbody>

</table>

<div class="alert alert-warning text-center mt-3"
    *ngIf="!cargando && heroes.length === 0"
>
    <h4 class="alert-heading"> No hay registros </h4>
    <p> <i class="fa fa-exclamation fa-2x"></i> </p>
    <p class="mb-0">Espere por favor</p>
</div>

<div class="alert alert-info text-center mt-3 animated fadeIn faster" *ngIf="cargando">
    <h4 class="alert-heading"> Cargando... </h4>
    <p> <i class="fa fa-sync-alt fa-spin fa-2x"></i> </p>
    <p class="mb-0">Espere por favor</p>
</div>